body {
  font-family: Courier,'Courier New', sans-serif;
  font-size: 12px;
  background-color: rgb(211, 211, 211);
}

.page {
  background-color: white;
  border: 1px solid black;
  box-shadow: 2px 2px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-bottom: 1in;

}

.letter {
  max-width: 8.5in;
  max-height: 11in;
  height: 11in;
  width: 8.5in;
  background-color:whitesmoke;
}

.page-content {
  margin-left: 1.5in;
  margin-right: 1in;
}

.action {
  margin-top: 0.3in;
  font-style: italic;
  background-color: bisque;
}



.character {
  margin-left: 2.2in;
  margin-right: 2.2in;
  background-color: bisque;
  margin-top: 0.3in;
  margin-bottom:0in;
  text-align: center;

  text-transform: uppercase;
}

.dialogue {
  background-color: bisque;

  font-style: italic;
  margin-left: 1.5in;
  margin-right: 1.5in;
  margin-top:0;
}

.parenthetical {
  margin-top:0.1in;
  background-color: bisque;
  margin-bottom:0.1in;
  text-align: center;
  margin-left: 1.6in;
  margin-right: 1.6in;

}

.clip {
  background-color: bisque;
  font-weight: bold;
  text-decoration: underline;
}


.transition {
  text-transform: uppercase;
  width: 100%;
  text-align: right;
  background-color: bisque;

}

.scene {
  font-weight: bolder;
  background-color: bisque;
}

.pagenumber {
  width: 100%;
  text-align: right;
}

.header {
  height: 1in;
}

.pagenumber {
  margin: 0;
  padding-top: 0.5in;
}